auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
url/cookies
ac-comphist.dat
*.pyc
bookmarks
.ropeproject
.rtm-auth-token
eshell/history
.cask
var/
.tern-port
/url/
/var/
/eshell/
history
/.sx/
/ensime/
projectile-bookmarks.eld
.persistent-scratch
.python-environments/
elpy/
emojis/
forge-database.sqlite
ido.last
projectile.cache
recentf
request/
smex-items
transient/
.mypy_cache/
tumblr-oauth-token
forge-database*
pyhist-python
eln-cache/
elgrep-data.el
projects
tree-sitter/
.cache/

# site-lisp
site-lisp/*/.github/
site-lisp/*/.gitignore
site-lisp/*/.mailmap